body {
  background-color: #edf1d6;
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  color: #609966;
  text-align: center;
  font-size: 64px;
}

.hangman {
  position: relative;
  width: 100px;
  height: 200px;
  margin: 0 auto;
  margin-left: 50px;
}

.head {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #333;
}

.body {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 100px;
  background-color: #333;
}

.left-arm {
  position: absolute;
  top: 30px;
  left: 10%;
  width: 10px;
  height: 50px;
  background-color: #333;
  transform-origin: bottom;
  transform: rotate(45deg);
}

.right-arm {
  position: absolute;
  top: 30px;
  left: 80%;
  width: 10px;
  height: 50px;
  background-color: #333;
  transform-origin: bottom;
  transform: rotate(-45deg);
}

.left-leg {
  position: absolute;
  top: 100px;
  left: 10%;
  width: 10px;
  height: 50px;
  background-color: #333;
  transform-origin: bottom;
  transform: rotate(45deg);
}

.right-leg {
  position: absolute;
  top: 100px;
  left: 80%;
  width: 10px;
  height: 50px;
  background-color: #333;
  transform-origin: bottom;
  transform: rotate(-45deg);
}
